<div class="row">
	<div class="col-lg-3"></div>


	<div class="col-lg-6">
		<h2>Your basket</h2>
		<%= render 'items', :order => current_order %>
		<br>
		<p><%= link_to 'Empty basket', basket_path, :method => :delete %></p>
	</div>

	<div class="col-lg-3"></div>
</div>

	
<br><br>

<div class="row"> 
	
</div>